@model MoshalScholarship.Models.MentorIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Mentors</h2>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Degree
                </th>
                <th>
                    Institution
                </th>
                <th>
                    Faculty
                </th>
                <th>
                    Job
                </th>
                <th>
                    Company
                </th>
                <th>
                    Mentees
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Mentors)
            {
                <tr>
                    <td>
                        @item.User.FirstName, @item.User.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Degree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Institution)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Faculty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentJob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentCompany)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentCount)
                    </td>
                    <td>
                        <div class="btn-group btn-group-flex">
                            <a class="btn btn-default btn-sm" asp-controller="Mentees" asp-action="SendInvite" asp-route-id="@item.User.Id">Invite</a>
                            <a class="btn btn-default btn-sm" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>